# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Google 
GOOGLE_SERVICE_ACCOUNT={"type":"service_account", "project_id":"..."} # полный JSON как строка
GOOGLE_CALENDAR_ID=primary # или yourcalendar@group.calendar.google.com

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=telegram_bot_db

# First admin (для первого запуска)
SUPER_ADMIN_USERNAME=your_telegram_username

# Logging
LOG_LEVEL=info