TELEGRAM_BOT_TOKEN=your_bot_token_here
GOOGLE_CREDS_PATH=/path/to/your/google-service-account.json
DB_CONN_STRING=postgres://username:password%localhost:5432/telegram_bot_db
ADMINS=admin_username1, admin_username2
LOG_LEVEL=info